version: '2'
services:
  kafka:
    build: .
    image: raknair07/docker-kafka:1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
